<a href="https://colab.research.google.com/github/manishrathod2003/Pandas/blob/main/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Series

In [16]:
import pandas as pd
arr = [1, 2, 3, 4, 5]
series = pd.Series(arr)
print(series)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [17]:
# By position
index_3 = series[3]
print("Index 3 : ",index_3)

Index 3 :  4

In [18]:
arr = [1,2,3,4,5,6,7,8,9]
series = pd.Series(arr,index=['a','b','c','d','e','f','g','h','i'])
print(series)

a    1
b    2
c    3
d    4
e    5
f    6
g    7
h    8
i    9
dtype: int64

In [19]:
arr = {'a': 100, 'b': 200, 'c': 300, 'd': 400, 'e': 500}

series = pd.Series(arr)
print(series)

a    100
b    200
c    300
d    400
e    500
dtype: int64

In [20]:
# By index label
print(series['b'])

200

In [21]:
sum_arr = series.sum()
print("Sum of Array : ",sum_arr)

Sum of Array :  1500

# Dataframe

In [22]:
# From a dictionary
data = {'Name': ['Krishna', 'Aniket', 'Lokesh'],
        'Age': [21,21,21],
        'City': ['Dabara', 'Balaghat', 'Indore']}
df = pd.DataFrame(data)
print(df)

      Name  Age      City
0  Krishna   21    Dabara
1   Aniket   21  Balaghat
2   Lokesh   21    Indore

In [23]:
# From a list of lists
data = [['Krishna', 21, 'Dabara'],
        ['Aniket', 21, 'Balaghat'],
        ['Lokesh', 21, 'Indore']]

df = pd.DataFrame(data, columns=['Name', 'Age', 'City'])
print(df)

      Name  Age      City
0  Krishna   21    Dabara
1   Aniket   21  Balaghat
2   Lokesh   21    Indore

Accessing Columns

In [24]:
# Access a single column as a Series
print(df['Age'])

# Access multiple columns
print(df[['Name', 'City']])

0    21
1    21
2    21
Name: Age, dtype: int64
      Name      City
0  Krishna    Dabara
1   Aniket  Balaghat
2   Lokesh    Indore

In [25]:
# Access a row by index (using .iloc or .loc)
print(df.iloc[1])  # By position (2nd row)
print(df.loc[2])   # By label (index)

Name      Aniket
Age           21
City    Balaghat
Name: 1, dtype: object
Name    Lokesh
Age         21
City    Indore
Name: 2, dtype: object

In [26]:
# Access a specific value (using .iloc for position, .loc for label)
print(df.iloc[0, 1])  # Row 0, Column 1
print(df.loc[0, 'City'])  # Row 0, 'City' column

21
Dabara

Selecting Data (Filtering)

In [27]:
# Filter rows where 'Age' > 20
print(df[df['Age'] > 20])

# Filter with multiple conditions
print(df[(df['Age'] > 20) & (df['City'] == 'Indore')])

      Name  Age      City
0  Krishna   21    Dabara
1   Aniket   21  Balaghat
2   Lokesh   21    Indore
     Name  Age    City
2  Lokesh   21  Indore